body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding: 0 50px;
    background-color: #959aff;
    border-bottom: 1px solid #ffffff;
    color: antiquewhite;
    font-size: 42px;
}

#logo{

}
#brand-name {
    font-size: 64px;
}

#sign-up {
    padding: 15px 30px;
    font-size: 24px;
    border-radius: 30px;
    background-color: #444;
    color: #fff;
    cursor: pointer;
}


.tools-dropdown {
    position: relative;
    display: inline-block;
}

.tools-btn {
    margin-right: 20px;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #444;
    color: #fff;
    cursor: pointer;
    border-width: 0;
}

.tools-menu {
    display: none;
    position: absolute;
    background-color:  #959aff;
    min-width: 250px;
    z-index: 1;
    border-radius: 30px;
}

.tools-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 24px;

}

.tools-menu a:hover {background-color: #f1f1f1;}




.btn-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
}


.login-btn,
.signup-btn
{
    margin-right: 20px;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #444;
    color: #fff;
    cursor: pointer;
    border-width: 0;
}



#main-content {
    height: 90%;
    overflow-y: auto;
    background-color: #f5f5f5;
}

#main-content {
    display: flex;
    height: 90%;
    overflow-y: auto;
    background-color: rgba(149, 154, 255, 0.78);

}

#block1 {
    flex: 40%;
    padding: 50px;
    border-radius: 30px;

}

#block2 {
    flex: 60%;
    padding: 50px;
    border-radius: 30px;

}

.sub-block {
    height: 500px;
    /*padding: 50px;*/
    background-color: #fde3ac;
    border-radius: 50px;

}

#heading-div {
    width: 10%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    padding-left: 50px;
    padding-top: 50px;

}


#list-div {
    width: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

#updates {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#updates li {
    font-size: 1.5em;
    text-align: center;
}

ol{
    font-size: 1.7em;
}

#front-pageimages{
    height: 500px;
    width:100%;
    border-radius: 50px;

}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}


.mySlides {
    display: none;
    width: 100%;
    height: 100%;
}


.mySlides:first-of-type {
    display: block;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}
.horizontal-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 200px;
    background: whitesmoke;
    padding-left: 5%;
    padding-right: 15%;
    border-top: 2px solid white;
}

.tools-header {
    flex: 0 0 100px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-right: 100px;
}

.tools-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.tool {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 25px;
    border: 2px solid #000;
    text-align: center;
    font-size: 25px;
    background-color: rgba(113, 113, 113, 0.15);
}

.map-block {
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    /*background: rgba(149, 154, 255, 0.78);*/
}

.map-header {
    height: 200px;
    width: 400px;
    /*background: rgba(149, 154, 255, 0.78);*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    font-weight: bold;
}

.map-container {
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    /*background: rgba(149, 154, 255, 0.78);*/
}

.map {
    max-height: 100%;
    max-width: 100%;
}

.info-block {
    display: flex;
    height: 400px;
    width: 100%;
    background-color: #bbbbbb;
    font-size: 24px;
}



.links-block {
    width: 40%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links-block h2 {
    margin-bottom: 20px;
}

.links-block ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.links-block li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.links-block li img {
    height: 40px;
    margin-right: 10px;
}

.links-block li a {
    text-decoration: none;
    color: black;
    font-size: 36px;
}




.uni-block {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 12px;
}

.uni-logo {
    max-height: 50%;
    max-width: 50%;
}
